@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

@media (max-width: 1024px) {
    .product-card {
        flex: 1 1 calc(25% - 15px);
        /* 4 por linha */
    }
}

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(33.33% - 15px);
        /* 3 por linha */
    }
}

@media (max-width: 500px) {
    .product-card {
        flex: 1 1 calc(50% - 15px);
        /* 2 por linha */
    }
}


:root {
    --cor-2: #000000;
    --cor-1: #ffffff;

    --cor1: #0540F2;
    --cor2: #032CA6;
    --cor3: ;
    --cor4: #021E73;
    --cor5: #F2F2F2;

    --cor6: #141316;
    --cor7: #F5F5F5;
    --cor7-5: #5f5f5f94;
    --cor8: #F20505;
    --cor8-2: #c70000;
    --cor8-3: #f2051e;

    --cor-fundo: #1f1e20;


    --fonte-padrao: "Roboto", sans-serif;

    --fonte-destaque: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --fonte-menu: "Bebas Neue", sans-serif;
}

* {
    margin: auto;
    text-align: center;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    
    overflow-x: hidden;
    /* bloqueia rolagem horizontal */
    overflow-y: auto;
    /* permite rolar para cima/baixo */
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-1);
}

header>h1 {
border-top: 0.55px solid #919191;
    border-bottom: 0.55px solid #919191;
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    font-weight: bold;
    background-color: var(--cor-2);
    color: var(--cor-1);
    padding: 10px;


}

header {
    background-color: var(--cor6);
    height: 260px;
}

.banner-header-div {
    height: 0px;
}

form {
    display: block;
}



#campoBusca {
    position: relative;
    left: 200px;
    top: 100px;
    padding: 7px 120px 7px 10px;
    border-radius: 4px;
    border: 1px solid #919191;
    text-align: start;
    background-color: var(--cor-1);
    color: var(--cor-1);
    box-shadow: 0px 0px 12.5px rgb(255, 255, 255);
    margin-top: 50px;
}



#botaoBusca {
    position: relative;
    top: 76px;
    left: 215px;
    border-radius: 4px;
background: transparent;
border: none;

}

#botaoBusca > svg {
   border-left: 1px solid #919191;
   padding-left: 6.5px;
width: 28px;
    position: relative;
    top: 30px;
    left: -55px;
}


.barra-de-pesquisa-inteira {
 position: relative;
 top: 10px;
 left: 125px;
}


.logo-header {
    border: 1px solid #919191;
     box-shadow: 0px 0px 10px rgba(145, 145, 145, 0.226);
    width: 25px;
    background-color: var(--cor-2);
    border-radius: 6px;
    position: relative;
    top: -32.5px;
    left: -655px;

  
}

.barra-logo-header {
    position: relative;
    top: -100px;
    left: 150px;
}


.carrossel {
    position: relative;
    top: 12.5px;
    width: 100%;
    max-width: 1341px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
    width: 100%;
}

.slides picture {
    flex: 0 0 100%;
    /* cada imagem ocupa 100% da largura */
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

/* Indicadores (bolinhas) */
.indicadores {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicadores div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(150, 150, 150, 0.5);
    cursor: pointer;
    transition: background 0.5s;
}

.indicadores .ativo {
    background: rgb(255, 255, 255);
}

nav {
    background-color: var(--cor6);
    display: block;
    visibility: visible;
    font-size: 0.9em;
    width: 1341.5px;
    padding: 12px;
    margin-bottom: 67px;
    position: relative;
    top: 80px;
}



nav>a {
    position: relative;
    margin-right: 6.5px;
    margin-left: 6.5px;
    padding: 10px 12px 8px 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    letter-spacing: 0.5px;
    color: var(--cor-1);
}

nav>a:hover {
    transition: 0.25s ease;
    text-decoration: underline;
}

#compre-agora {
    border: 1px solid var(--cor-fundo);
    border-radius: 10px;
    background-color: var(--cor-1);
    color: var(--cor-2);
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.288);
    display: block;

    letter-spacing: 0.5px;
    position: relative;
    top: -100px;
    width: 140px;
    padding: 12px 14px 12px 14px;
    font-weight: bolder;
    font-size: 0.85em;
    display: block;


}

#compre-agora:hover {
    transition: 0.25s ease;
    background-color: var(--cor-1);
    color: var(--cor-2);
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.288);
    margin-bottom: 0;
}

.banners-pequenos {
    padding: 18px 0px 18px 0px;
    background-color: var(--cor-2);
}

#title-novidades {
    position: relative;
    top: -33.5px;
    width: 1341px;
    font-size: 1.5em;
    background-color: var(--cor-2);
    color: var(--cor-1);
    text-align: center;
    letter-spacing: 4px;
    font-family: var(--fonte-padrao);
    font-weight: bolder;
}



main {
box-shadow: inset 0 0 3px white;
    height: 1550px;
    background-color: var(--cor6);
    margin-top: 283.5px;
    margin-bottom: 0;
    
}

a {
    text-decoration: none;
    color: inherit;
}


/* Produtos */
.products-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px 50px;
    padding: 0 15px;
    max-width: 1300px;
    margin: auto;
    position: relative;
    top: 40px;
   
}

.product-card {
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 252.5px;
}

.product-card:hover {
    transform: translateY(-5px);
   box-shadow: 0 0 10px #ffffff57;
    border: 1px solid #ffffffbb;
}

.product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-name {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(233, 233, 233);
}

.product-price {
    padding: 0 10px 15px;
}

.preco-antigo {
    display: block;
    text-decoration: line-through;
    color: #979797;
    font-size: 14px;
}

.preco-novo {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.404);
    display: block;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.parcelas {
    display: block;
    color: #4f7eff;
    font-size: 14px;
}

/* Menu hamburguer para mobile */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}





      .user-actions {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            top: -180px;
            left: -100px;
        }

        .cart-icon {
            position: relative;
            cursor: pointer;
        }

        .cart-count {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: #ff4757;
            color: white;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-icon {
            width: 36px;
            height: 35px;
            border-radius: 50%;
            background-color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s;
            position: relative;
            left: -870px;
            top: 200px;
        }

        .user-icon:hover {
            background-color: rgb(56, 56, 56);
        }

        .user-icon svg {
            width: 22px;
            height: 22px;
            fill: var(--cor-1);
        }



      

        .dropdown-menu {
            position: absolute;
            top: 245px;
            left: -147.5vh;
            right: 0;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid black;
            width: 180px;
            height: 152px;
            padding: 10px 0;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all 0.3s ease;
            
        }

        .dropdown-menu.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -8px;
            left: 15px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid rgb(0, 0, 0);
             
        }

        .dropdown-item {
            padding: 12px 20px;
            cursor: pointer;
            transition: background-color 0.2s;
            display: flex;
            gap: 10px;
            position: relative;
            left: 0px;
            top: -10px;
        
        }

        .dropdown-item:hover {
            background-color: #f0f0f0;   
            border-radius: 8px;
        }

        .dropdown-item svg {
            width: 18px;
            height: 18px;
            fill: #000000;
            margin: 0;
        }

        .dropdown-item > span {
        margin: 0;
        }

    


