.carrossel {
    position: relative;
    left: 0;
    width: 100%;
    margin: auto;
}


.slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
    width: 100%;
}

.slides picture {
    flex: 0 0 100%;
    /* cada imagem ocupa 100% da largura */
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

/* Indicadores (bolinhas) */
.indicadores-slide-header {
    position: absolute;
    left: -32%;
    transform: translateY(-100px);
    display: flex;
    gap: 8px;
}


