/* ANIMAÇÕES*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes modalSlideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(174, 217, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 12.5px rgba(79, 172, 254, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(174, 217, 255, 0.7);
    }
}

/* Animação do ícone */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.1);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalSlideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes wave6 {

 0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}


@keyframes text-blur {
    0% {
        text-shadow: 0 0 10px #fff;
    }

    50% {
        text-shadow: 0 0 20px #fff;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FIM DA PARTE DE CARRINHO */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}